/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Dusk test artifacts
/tests/Browser/screenshots/*
!/tests/Browser/screenshots/.gitkeep
/tests/Browser/console/*
!/tests/Browser/console/.gitkeep
/tests/Browser/source/*
!/tests/Browser/source/.gitkeep

